body  {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

p {
    margin: 0 0 10px;
}


/* Container 
===================================*/

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header 
===================================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    align-items: center;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #515369;
}



/* Nav 
===================================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.nav__link {
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: .75;
    transition: opacity .2s;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}



/* Intro 
===================================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: #31344e
     url(images/header/headerfon.jpg) center no-repeat;
    box-sizing: cover;
}

.intro__inner {
    text-align: center;

    margin: 0 auto;
    width: 100%;
    max-width: 970px;
}

.intro__title {
    margin: 0;

    text-transform: uppercase;
    color: #fff;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}

.intro__subtitle {
    font-size: 22px;

    color: #fff;
    margin-top: 38px;
    
    line-height: 1.5;
    font-weight: 400;
}



/* BTN 
===================================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    margin-top: 76px;

    border-radius: 3px;
    border: 0;

    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

    font-family: 'Raleway', sans-serif;

    transition: .2s;
}

.btn--red {
    background-color: #e84545;
}

.btn:hover {
    cursor: pointer;
    background-color: #dd3434;
}



/* FEATURES 
===================================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: 'Raleway', sans-serif;

    margin-bottom: 20px;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}



/* WORKS
================================== */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 300px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, .9);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

.works__title {
    margin-bottom: 5px;

    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.works__text {
    color: #fff;
    font-size: 14px;
}

.works__content:hover {
    opacity: 1;
    transition: .2s linear;
}



/* TEAM */

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -15px;
}

.team__item {
    margin-bottom: 30px;
    width: 25%;
    padding: 0 15px;
}

.team__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__name {
    font-size: 22px;
    margin-bottom: 10px;
    color: #2d3033;
    font-weight: 600;
}

.team__prof {
    margin-bottom: 30px;
    color: #e84545;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 55px;
}



/* social */

.social {
    display: flex;
}

.social__team {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border: 1px solid #e8ecee;
}